{% extends 'base.html.twig' %}
{% block body %} 
      <div id="page-slider">
         <div class="swiper-wrapper">
            <div class="swiper-slide" style='background-image: url("wp-content/uploads/2018/05/header-bg.jpg")'>
               <div class="center">
                  <div class="table-cell color-tr">
                     <div class="info">
                        <h2 class="font-heading">Our Interior </h2>
                        <div class="description">
                           <p>Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        </div>
                        <a class="more" href="gallery.html">Our Gallery</a>
                     </div>
                  </div>
               </div>
               <span class="shading gradient"></span>	
            </div>
            <div class="swiper-slide" style='background-image: url("wp-content/uploads/2016/07/slide-example.jpg")'>
               <div class="center">
                  <div class="table-cell color-tr">
                     <div class="info">
                        <h2 class="font-heading">Our Menu</h2>
                        <div class="description">
                           <p>Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        </div>
                        <a class="more" href="our-menu.html">See Our Menu</a>
                     </div>
                  </div>
               </div>
               <span class="shading gradient"></span>	
            </div>
            <div class="swiper-slide" style='background-image: url("wp-content/uploads/2017/06/category-pizza.jpg")'>
               <div class="center">
                  <div class="table-cell color-tr">
                     <div class="info">
                        <h2 class="font-heading">Delivery Service</h2>
                        <div class="description">
                           <p>Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        </div>
                        <a class="more" href="shop.html">Order Online</a>
                     </div>
                  </div>
               </div>
               <span class="shading gradient"></span>	
            </div>
         </div>
         <div class="slider-button-prev fa fa-caret-left"></div>
         <div class="slider-button-next fa fa-caret-right"></div>
         <div class="swiper-pagination"></div>
      </div>
      <div id="layout" class="wide">
         <div id="container" class="color-content">
            <main id="content">
               <div class="post-37 page type-page status-publish hentry">
                  <section id="reservation" class="section-block ">
                     <div class="center">
                        <div class="section-title v1">
                           <p class="subtitle color-pr-tx">Reservation</p>
                           <h3 class="font-heading"> Book a table</h3>
                        </div>
                        <form id="reservation-form" method="post" action="index.html">
                           <div id="reservation-form-messages" class="submit-form-message"></div>
                           <div class="cols-3 margin-large">
                              <div class="form-item">
                                 <label for="date">Date</label>
                                 <input type="text" format="MM d, yy" autocomplete="off" name="date" id="date" class="required datepicker">
                              </div>
                              <div class="form-item">
                                 <label for="time">Time</label>
                                 <select id="time" name="time" class="required">
                                    <option value="12:00am" >00:00</option>
                                 </select>
                              </div>
                              <div class="form-item">
                                 <label for="number">Guest Number</label>
                                 <select id="number" name="number" class="required">
                                    <option  value="1">1</option>
                                    <option selected value="2">2</option>
                                    <option  value="3">3</option>
                                    <option  value="4">4</option>
                                    <option  value="5">5</option>
                                    <option  value="6">6</option>
                                 </select>
                              </div>
                              <div class="form-item">
                                 <label for="name">Name</label>
                                 <input type="text" class="required" name="name" id="name">
                              </div>
                              <div class="form-item">
                                 <label for="phone">Phone</label>
                                 <input type="text" maxlength="15" class="required" name="phone" id="phone">
                              </div>
                              <div class="form-item">
                                 <label for="email">Email</label>
                                 <input type="text" class="required" name="email" id="email">
                              </div>
                           </div>
                           <div class="align-center-margin">
                              <button id="reservation-submit" class="btn btn-default btn-lg" type="submit">Book a Table</button>
                           </div>
                        </form>
                     </div>
                  </section>
                  <script>
                     jQuery(document).ready(function($) {	
                     	  jQuery('#reservation-form').on('submit', function(e) {
                     		   e.preventDefault();
                     		   var formMessages = $('#reservation-form-messages');
                     		   var form = jQuery(this);
                     		   function validate(){				  			
                     			form.find('[name]').each(function(index, value){
                     				 var that = $(this),
                     				 	 value = that.val(),
                     					 name = that.attr('name');
                     				 if(that.hasClass('required')) {
                     					if(value == '' || value.length < 3 && value.length > 50) {
                     						that.addClass('error');
                     					} else {
                     						that.removeClass('error');
                     					}
                     					if(name == 'email') {
                     						if(!value.match(/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i)) {
                     							that.addClass('error');
                     						}
                     					}
                     					if(name == 'phone') {
                     						if(!value.match(/([0-9]{9})|(\([0-9]{3}\)\s+[0-9]{3}\-[0-9]{4})/)) {
                     							that.addClass('error');	
                     						}							
                     					}
                     				}
                     			});
                     			if(form.find('.required').hasClass('error')) {
                     				return false;
                     			}
                     			return true;
                     		   }		
                     		   if(validate()) {
                     			   	var data = {
                     					action: 'reservation_submit',
                     					form_data: form.serialize()
                     				}; 		
                     				var test = jQuery.post( form.attr('action'), data, function(response) {
                     				    // Make sure that the formMessages div has the 'success' class.
                     				    $(formMessages).removeClass('error');
                     				    $(formMessages).addClass('success');
                     				    // Set the message text.
                     				    $(formMessages).text(response);
                     				    form[0].reset();
                     				    //$('#reservation-submit').prop("disabled", true);
                     				});
                     			}				
                     	  });
                     });
                  </script>
                  <section id="contact-details" class="section-block reset">
                     <div class="center">
                        <div class="section-title v1">
                           <p class="subtitle color-pr-tx">Visit Us</p>
                           <h3 class="font-heading"> Our Location</h3>
                        </div>
                        <div class="cols-3 margin-large">
                           <div>
                              <div class="box phones">
                                 <h3 class="font-title">
                                    Phone			
                                 </h3>
                                 <ul>
                                    <li><a href="tel:+38 (012) 34 56 789">+38 (012) 34 56 789</a></li>
                                 </ul>
                                 <span class="color-pr-bg fa fa-phone"></span>
                              </div>
                           </div>
                           <div>
                              <div class="box address">
                                 <h3 class="font-title">
                                    Address			
                                 </h3>
                                 <ul>
                                    <li>
                                       <a href="http://maps.google.com/?q=123 Main Street, Uni 21, New York City" target="_blank">123 Main Street, Uni 21, New York City</a>
                                       <br>
                                    </li>
                                 </ul>
                                 <span class="color-pr-bg fa fa-map-marker"></span>
                              </div>
                           </div>
                           <div>
                              <div class="box hours">
                                 <h3 class="font-title">
                                    Working Hours			
                                 </h3>
                                 <ul>
                                    <li class="hours">Mon - Fri: 08:00 - 22:00</li>
                                    <li class="hours">Sat - Sun: 10:00 - 23:00</li>
                                    <li class="hours"></li>
                                    <li class="hours"></li>
                                    <li class="hours"></li>
                                    <li class="hours"></li>
                                 </ul>
                                 <span class="color-pr-bg fa fa-clock-o"></span>
                              </div>
                           </div>
                        </div>
                     </div>
                  </section>
               </div>
            </main>
         </div>
      </div>
{% endblock %}