{% extends 'base.html.twig' %}      
{% block body %}
      <div id="page-header" class="dzsparallaxer auto-init height-is-based-on-content use-loading">
         <div class="divimage dzsparallaxer--target" style="background-image: url(wp-content/uploads/2018/05/header-bg.jpg)"></div>
         <div class="container">
            <div class="center">
               <div class="heading-title">
                  <h1 class="font-heading color-tr dynamic-shadow">Delivery</h1>
               </div>
            </div>
         </div>
         <span class="shading gradient"></span>
      </div>
      <div id="layout" class="wide">
         <div id="container" class="color-content clearfix ">
            <div class="flex-content">
               <main id="content">
                  <ul id="categories-nav">
                     <li class="cat-item cat-item-26"><a href="product-category/salads.html" title="Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.">Salads</a></li>
                     <li class="cat-item cat-item-27"><a href="product-category/pizza.html" title="Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.">Pizza</a></li>
                     <li class="cat-item cat-item-29"><a href="product-category/soups.html" title="Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.">Soups</a></li>
                     <li class="cat-item cat-item-28"><a href="product-category/desserts.html" title="Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.">Desserts</a></li>
                     <li class="cat-item cat-item-30"><a href="product-category/drinks.html" title="Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.">Drinks</a></li>
                  </ul>
                  <div class="center">
                     <ul id="product-list" class="cols-3 margin-large">
                        <li>
                           <div class="post-909 product type-product status-publish has-post-thumbnail product_cat-pizza first instock shipping-taxable purchasable product-type-simple">
                              <a class="image" href="product/spinach-soup.html">
                              <img width="420" height="280" src="wp-content/uploads/2016/08/product-2-420x280.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="Spinach Soup" />
                              <span class="product-price font-title"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>23.00</span></span>
                              </a>
                              <div class="description">
                                 <h2 class="font-title">
                                    <a href="product/spinach-soup.html">
                                    Spinach Soup				</a>
                                 </h2>
                                 <p>Onion, Spinach, Pepper Powder, Milk, Salt, Leek  </p>
                                 <a href="shop/_add-to-cart_909.html" data-quantity="1" class="btn-cart button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="909" data-product_sku="" aria-label="Add &ldquo;Spinach Soup&rdquo; to your cart" rel="nofollow">Add to cart</a>		
                              </div>
                           </div>
                        </li>
                        <li>
                           <div class="post-62 product type-product status-publish has-post-thumbnail product_cat-salads product_cat-pizza product_cat-soups  instock featured shipping-taxable purchasable product-type-simple">
                              <a class="image" href="product/cherry-pie.html">
                                 <img width="420" height="280" src="wp-content/uploads/2016/08/product-1-420x280.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="Cherry Pie" />
                                 <div class="star-rating"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5</span></div>
                                 <span class="product-price font-title"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>15.00</span></span>
                              </a>
                              <div class="description">
                                 <h2 class="font-title">
                                    <a href="product/cherry-pie.html">
                                    Cherry Pie				</a>
                                 </h2>
                                 <p>Cherries, Dough, White Sugar, Cheese, Vanilla Ice Cream</p>
                                 <a href="shop/_add-to-cart_62.html" data-quantity="1" class="btn-cart button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="62" data-product_sku="" aria-label="Add &ldquo;Cherry Pie&rdquo; to your cart" rel="nofollow">Add to cart</a>		
                              </div>
                           </div>
                        </li>
                        <li>
                           <div class="post-26 product type-product status-publish has-post-thumbnail product_cat-salads product_cat-pizza product_cat-desserts product_cat-drinks last instock shipping-taxable purchasable product-type-simple">
                              <a class="image" href="product/fish-parmentier.html">
                              <img width="420" height="280" src="wp-content/uploads/2016/07/product-7-420x280.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" />
                              <span class="product-price font-title"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>21.00</span></span>
                              </a>
                              <div class="description">
                                 <h2 class="font-title">
                                    <a href="product/fish-parmentier.html">
                                    Fish Parmentier				</a>
                                 </h2>
                                 <p>Cod, haddock, prawn and salmon in a creamy white wine and leek sauce, topped with mash potato and Gruyère cheese</p>
                                 <a href="shop/_add-to-cart_26.html" data-quantity="1" class="btn-cart button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="26" data-product_sku="" aria-label="Add &ldquo;Fish Parmentier&rdquo; to your cart" rel="nofollow">Add to cart</a>		
                              </div>
                           </div>
                        </li>
                        <li>
                           <div class="post-24 product type-product status-publish has-post-thumbnail product_cat-salads product_cat-pizza product_cat-soups first instock shipping-taxable purchasable product-type-simple">
                              <a class="image" href="product/greek.html">
                                 <img width="420" height="280" src="wp-content/uploads/2016/07/new-product-2-420x280.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" />
                                 <div class="star-rating"><span style="width:90%">Rated <strong class="rating">4.50</strong> out of 5</span></div>
                                 <span class="product-price font-title"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>25.00</span></span>
                              </a>
                              <div class="description">
                                 <h2 class="font-title">
                                    <a href="product/greek.html">
                                    Greek Salad				</a>
                                 </h2>
                                 <p>Tomatoes, Cucumber, Onion, Olives, Feta, Oregano, Romaine Lettuce.</p>
                                 <a href="shop/_add-to-cart_24.html" data-quantity="1" class="btn-cart button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="24" data-product_sku="" aria-label="Add &ldquo;Greek Salad&rdquo; to your cart" rel="nofollow">Add to cart</a>		
                              </div>
                           </div>
                        </li>
                        <li>
                           <div class="post-22 product type-product status-publish has-post-thumbnail product_cat-salads product_cat-pizza product_cat-soups  instock featured shipping-taxable purchasable product-type-simple">
                              <a class="image" href="product/caeser.html">
                              <img width="420" height="280" src="wp-content/uploads/2016/08/product-5-420x280.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="Greek Salad" />
                              <span class="product-price font-title"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>30.00</span></span>
                              </a>
                              <div class="description">
                                 <h2 class="font-title">
                                    <a href="product/caeser.html">
                                    Caeser Salad				</a>
                                 </h2>
                                 <p>Lettuce, Eggs, Parmesan Cheese, Chicken Breast Fillets.</p>
                                 <a href="shop/_add-to-cart_22.html" data-quantity="1" class="btn-cart button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="22" data-product_sku="" aria-label="Add &ldquo;Caeser Salad&rdquo; to your cart" rel="nofollow">Add to cart</a>		
                              </div>
                           </div>
                        </li>
                        <li>
                           <div class="post-32 product type-product status-publish has-post-thumbnail product_cat-salads product_cat-pizza product_cat-desserts product_cat-drinks last instock featured shipping-taxable purchasable product-type-simple">
                              <a class="image" href="product/apple-strudel.html">
                                 <img width="420" height="280" src="wp-content/uploads/2016/08/product-4-420x280.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="Apple Strudel" />
                                 <div class="star-rating"><span style="width:86.6%">Rated <strong class="rating">4.33</strong> out of 5</span></div>
                                 <span class="product-price font-title"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>15.00</span></span>
                              </a>
                              <div class="description">
                                 <h2 class="font-title">
                                    <a href="product/apple-strudel.html">
                                    Apple Strudel				</a>
                                 </h2>
                                 <p>Apples, Vanilla Ice Cream, Nuts</p>
                                 <a href="shop/_add-to-cart_32.html" data-quantity="1" class="btn-cart button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="32" data-product_sku="" aria-label="Add &ldquo;Apple Strudel&rdquo; to your cart" rel="nofollow">Add to cart</a>		
                              </div>
                           </div>
                        </li>
                     </ul>
                  </div>
                  <nav class="navigation pagination" role="navigation">
                     <h2 class="screen-reader-text">Posts navigation</h2>
                     <div class="nav-links"><span aria-current='page' class='page-numbers current'>1</span>
                        <a class='page-numbers' href='shop/page/2.html'>2</a>
                        <a class="next page-numbers" href="shop/page/2.html"></a>
                     </div>
                  </nav>
               </main>
            </div>
         </div>
      </div>
{% endblock %}