
<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
	<title>Spinach Soup &#8211; Cristiano</title>
<meta name='robots' content='noindex,follow' />
<link rel='dns-prefetch' href='//fonts.googleapis.com' />
<link rel='dns-prefetch' href='//s.w.org' />
<link rel="alternate" type="application/rss+xml" title="Cristiano &raquo; Feed" href="http://cristianonew.ukrdevs.com/feed/" />
<link rel="alternate" type="application/rss+xml" title="Cristiano &raquo; Comments Feed" href="http://cristianonew.ukrdevs.com/comments/feed/" />
<link rel="alternate" type="application/rss+xml" title="Cristiano &raquo; Spinach Soup Comments Feed" href="http://cristianonew.ukrdevs.com/product/spinach-soup/feed/" />
		<script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/11\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/11\/svg\/","svgExt":".svg","source":{"concatemoji":"http:\/\/cristianonew.ukrdevs.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.0.3"}};
			!function(a,b,c){function d(a,b){var c=String.fromCharCode;l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,a),0,0);var d=k.toDataURL();l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,b),0,0);var e=k.toDataURL();return d===e}function e(a){var b;if(!l||!l.fillText)return!1;switch(l.textBaseline="top",l.font="600 32px Arial",a){case"flag":return!(b=d([55356,56826,55356,56819],[55356,56826,8203,55356,56819]))&&(b=d([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]),!b);case"emoji":return b=d([55358,56760,9792,65039],[55358,56760,8203,9792,65039]),!b}return!1}function f(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var g,h,i,j,k=b.createElement("canvas"),l=k.getContext&&k.getContext("2d");for(j=Array("flag","emoji"),c.supports={everything:!0,everythingExceptFlag:!0},i=0;i<j.length;i++)c.supports[j[i]]=e(j[i]),c.supports.everything=c.supports.everything&&c.supports[j[i]],"flag"!==j[i]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[j[i]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(h=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",h,!1),a.addEventListener("load",h,!1)):(a.attachEvent("onload",h),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),g=c.source||{},g.concatemoji?f(g.concatemoji):g.wpemoji&&g.twemoji&&(f(g.twemoji),f(g.wpemoji)))}(window,document,window._wpemojiSettings);
		</script>
		<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
<link rel='stylesheet' id='wp-block-library-css'  href='http://cristianonew.ukrdevs.com/wp-includes/css/dist/block-library/style.min.css?ver=5.0.3' type='text/css' media='all' />
<link rel='stylesheet' id='wc-vendors-css'  href='http://cristianonew.ukrdevs.com/wp-content/plugins/woo-gutenberg-products-block/build/vendors.css?ver=1.3.0' type='text/css' media='all' />
<link rel='stylesheet' id='wc-featured-product-editor-css'  href='http://cristianonew.ukrdevs.com/wp-content/plugins/woo-gutenberg-products-block/build/featured-product.css?ver=1.3.0' type='text/css' media='all' />
<link rel='stylesheet' id='photoswipe-css'  href='http://cristianonew.ukrdevs.com/wp-content/plugins/woocommerce/assets/css/photoswipe/photoswipe.css?ver=3.5.4' type='text/css' media='all' />
<link rel='stylesheet' id='photoswipe-default-skin-css'  href='http://cristianonew.ukrdevs.com/wp-content/plugins/woocommerce/assets/css/photoswipe/default-skin/default-skin.css?ver=3.5.4' type='text/css' media='all' />
<style id='woocommerce-inline-inline-css' type='text/css'>
.woocommerce form .form-row .required { visibility: visible; }
</style>
<link rel='stylesheet' id='cristiano-google-fonts-css'  href='https://fonts.googleapis.com/css?family=Lora%3A400%2C400i%2C700%7CCinzel&#038;subset=cyrillic%2Ccyrillic-ext%2Clatin-ext%2Cvietnamese&#038;ver=5.0.3' type='text/css' media='all' />
<link rel='stylesheet' id='cristiano-fontawesome-css'  href='http://cristianonew.ukrdevs.com/wp-content/themes/cristiano/assets/css/font-awesome.css?ver=4.7.0' type='text/css' media='all' />
<link rel='stylesheet' id='magnific-popup-css'  href='http://cristianonew.ukrdevs.com/wp-content/themes/cristiano/assets/css/magnific-popup.css?ver=1.1.0' type='text/css' media='all' />
<link rel='stylesheet' id='swiper-css'  href='http://cristianonew.ukrdevs.com/wp-content/themes/cristiano/assets/css/swiper.min.css?ver=4.4.2' type='text/css' media='all' />
<link rel='stylesheet' id='cristiano-grid-css'  href='http://cristianonew.ukrdevs.com/wp-content/themes/cristiano/assets/css/grid.css?ver=3.9.10' type='text/css' media='all' />
<link rel='stylesheet' id='cristiano-style-css'  href='http://cristianonew.ukrdevs.com/wp-content/themes/cristiano/style.css?ver=3.9.10' type='text/css' media='all' />
<link rel='stylesheet' id='cristiano-wc-style-css'  href='http://cristianonew.ukrdevs.com/wp-content/themes/cristiano/assets/css/woocommerce.css?ver=3.9.10' type='text/css' media='all' />
<link rel='stylesheet' id='cristiano-rwd-css'  href='http://cristianonew.ukrdevs.com/wp-content/themes/cristiano/assets/css/rwd.css?ver=3.9.10' type='text/css' media='all' />
<link rel='stylesheet' id='dzsparallaxer-css'  href='http://cristianonew.ukrdevs.com/wp-content/themes/cristiano/assets/css/dzsparallaxer.css?ver=3.9.10' type='text/css' media='all' />
<script type='text/javascript' src='http://cristianonew.ukrdevs.com/wp-includes/js/jquery/jquery.js?ver=1.12.4'></script>
<script type='text/javascript' src='http://cristianonew.ukrdevs.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
<script type='text/javascript' src='http://cristianonew.ukrdevs.com/wp-content/themes/cristiano/assets/js/jquery.magnific-popup.min.js?ver=1.1.0'></script>
<script type='text/javascript' src='http://cristianonew.ukrdevs.com/wp-content/themes/cristiano/assets/js/swiper.min.js?ver=3.4.2'></script>
<script type='text/javascript' src='http://cristianonew.ukrdevs.com/wp-content/themes/cristiano/assets/js/script.js?ver=3.9.10'></script>
<link rel='https://api.w.org/' href='http://cristianonew.ukrdevs.com/wp-json/' />
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://cristianonew.ukrdevs.com/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://cristianonew.ukrdevs.com/wp-includes/wlwmanifest.xml" /> 
<meta name="generator" content="WordPress 5.0.3" />
<meta name="generator" content="WooCommerce 3.5.4" />
<link rel="canonical" href="http://cristianonew.ukrdevs.com/product/spinach-soup/" />
<link rel='shortlink' href='http://cristianonew.ukrdevs.com/?p=909' />
<link rel="alternate" type="application/json+oembed" href="http://cristianonew.ukrdevs.com/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fcristianonew.ukrdevs.com%2Fproduct%2Fspinach-soup%2F" />
<link rel="alternate" type="text/xml+oembed" href="http://cristianonew.ukrdevs.com/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fcristianonew.ukrdevs.com%2Fproduct%2Fspinach-soup%2F&#038;format=xml" />
	<noscript><style>.woocommerce-product-gallery{ opacity: 1 !important; }</style></noscript>
			<style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>
					<script async src="https://www.googletagmanager.com/gtag/js?id=UA-51652220-7"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'UA-51652220-7');
		</script>
	</head>
<body class="product-template-default single single-product postid-909 woocommerce woocommerce-page woocommerce-no-js  no-sidebar">
<header class="header-container transparent-header sticky-tr">
	<div class="header-wrap">
		<div id="top-bar">
			<div class="center clearfix">
							
				<div class="social">
						<a class="fa fa-facebook" href="http://facebook.com/" target="blank"></a>
									<a class="fa fa-tripadvisor" href="https://www.tripadvisor.com/" target="blank"></a>
									<a class="fa fa-yelp" href="https://www.yelp.com/" target="blank"></a>
				</div>				<ul id="menu-top-nav" class="additional-links"><li id="menu-item-242" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-242"><a href="http://cristianonew.ukrdevs.com/contact-us/">Contact Us</a></li>
</ul>	
								<ul class="header-info">
					<li><i class="fa fa-map-marker"></i>123 Main Street, Uni 21, New York City</li>					
					<li><i class="fa fa-phone"></i><a href="tel:+38 (012) 34 56 789">+38 (012) 34 56 789</a></li>
				</ul>
							</div>
		</div>
		<div class="header header-v1">
			<div class="flex-header center clearfix">
				<div id="nav-listener" class="nav-icon-left">
					<span></span>
					<span></span>
					<span></span>
				</div>
				<div class="logo">
																<div class="text-logo">
							<a href="http://cristianonew.ukrdevs.com/">
								<span class="title font-heading">Cristiano</span>
								<span class="description font-title">Restaurant</span>
							</a>
						</div>
									</div>
				<nav id="nav">
							<div class="shopping-cart">
			<div class="cart-listener">
				<span class="cart-link">
	<i class="fa fa-shopping-bag"></i>
	<span class="count">
		0	</span>
</span>			</div>
			<div class="header-mini-cart">
				<p class="cart-links">
					<a href="http://cristianonew.ukrdevs.com/my-account/"><i class="fa fa-user-circle-o"></i>Sign In</a>
					<a href="http://cristianonew.ukrdevs.com/cart/"><i class="fa fa-shopping-bag" aria-hidden="true"></i>View cart</a>
				</p>
				<div class="widget woocommerce widget_shopping_cart"><div class="widget_shopping_cart_content"></div></div>		
			</div>		
		</div>		
		<ul id="menu-navigation" class="primary-menu"><li id="menu-item-42" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-42"><a href="http://cristianonew.ukrdevs.com/">Home</a></li>
<li id="menu-item-19" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-19"><a href="http://cristianonew.ukrdevs.com/our-menu/">Our Menu</a>
<ul class="sub-menu">
	<li id="menu-item-245" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-245"><a href="http://cristianonew.ukrdevs.com/our-menu/boxed/">Boxed Layout</a></li>
</ul>
</li>
<li id="menu-item-384" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children current_page_parent menu-item-384"><a href="http://cristianonew.ukrdevs.com/shop/">Delivery</a>
<ul class="sub-menu">
	<li id="menu-item-867" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-867"><a href="http://cristianonew.ukrdevs.com/shop/one-page/">One Page</a></li>
</ul>
</li>
<li id="menu-item-117" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-117"><a href="http://cristianonew.ukrdevs.com/gallery/">Gallery</a></li>
<li id="menu-item-45" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-45"><a href="http://cristianonew.ukrdevs.com/blog/">Our News</a></li>
<li id="menu-item-39" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-39"><a href="http://cristianonew.ukrdevs.com/reservation/">Reservation</a>
<ul class="sub-menu">
	<li id="menu-item-286" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-286"><a href="http://cristianonew.ukrdevs.com/reservation/open-table-reservation/">Open Table Reservation</a></li>
</ul>
</li>
<li id="menu-item-36" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36"><a href="http://cristianonew.ukrdevs.com/contact-us/">Contact Us</a></li>
</ul>				</nav>
			</div>
		</div>
	</div>
</header>
	<div id="layout" class="wide">
	<div id="container" class="color-content clearfix ">
		<div class="flex-content">
			<main id="content">

		
			<div class="woocommerce-notices-wrapper"></div><div class="center">
	<div class="blur" style="background-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 50%), url(http://cristianonew.ukrdevs.com/wp-content/uploads/2016/08/product-2-105x105.jpg)"></div> 	
	<div id="product-909" class="product-single-wrap post-909 product type-product status-publish has-post-thumbnail product_cat-pizza first instock shipping-taxable purchasable product-type-simple">
		<div id="product-single" class="cols-2 like-table">
					
			<p class="product-price single-price color-content-inverse"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>23.00</span></p>
<div class="woocommerce-product-gallery woocommerce-product-gallery--with-images woocommerce-product-gallery--columns-4 images" data-columns="4" style="opacity: 0; transition: opacity .25s ease-in-out;">
	<figure class="woocommerce-product-gallery__wrapper">
		<div data-thumb="http://cristianonew.ukrdevs.com/wp-content/uploads/2016/08/product-2-100x100.jpg" class="woocommerce-product-gallery__image"><a href="http://cristianonew.ukrdevs.com/wp-content/uploads/2016/08/product-2.jpg"><img width="675" height="449" src="http://cristianonew.ukrdevs.com/wp-content/uploads/2016/08/product-2-675x449.jpg" class="wp-post-image" alt="Spinach Soup" title="Spinach Soup" data-caption="" data-src="http://cristianonew.ukrdevs.com/wp-content/uploads/2016/08/product-2.jpg" data-large_image="http://cristianonew.ukrdevs.com/wp-content/uploads/2016/08/product-2.jpg" data-large_image_width="1000" data-large_image_height="665" /></a></div>	</figure>
</div>
			<div class="details">
				<h1 class="product_title entry-title font-title">Spinach Soup</h1><div class="product_meta">

	
	
	<span class="posted_in">Category: <a href="http://cristianonew.ukrdevs.com/product-category/pizza/" rel="tag">Pizza</a></span>
	
	
</div>
<p>Made with love for you from our chef.</p>
<div class="woocommerce-product-details__short-description">
	<p>Onion, Spinach, Pepper Powder, Milk, Salt, Leek  </p>
</div>
	
	<div class="add-to-cart-wrap">
	<form class="cart" action="http://cristianonew.ukrdevs.com/product/spinach-soup/" method="post" enctype='multipart/form-data'>
			<button type="submit" name="add-to-cart" value="909" class="single_add_to_cart_button button alt btn btn-primary">Add to cart</button>
			
				
				<div class="quantity">
		<label class="screen-reader-text" for="quantity_5c62db582f2bc">Quantity</label>
		<input
			type="number"
			id="quantity_5c62db582f2bc"
			class="input-text qty text"
			step="1"
			min="1"
			max=""
			name="quantity"
			value="1"
			title="Qty"
			size="4"
			pattern="[0-9]*"
			inputmode="numeric"
			aria-labelledby="Spinach Soup quantity" />
	</div>
		</form>
	</div>
	
	
				<span class="color-content"></span>
			</div>
						<a class="product-nav next-product" href="http://cristianonew.ukrdevs.com/product/greek-salad/"><i class="fa fa-caret-right"></i></a>
				</div>	
				<table class="shop_attributes">
	
	
	</table>
	
			
		<div class="both">
			<div class="content-section">		
				<div id="reviews" class="woocommerce-Reviews">
	<div id="comments">
		<h3 class="woocommerce-Reviews-title title">Reviews</h3>

			</div>

	
		<div id="review_form_wrapper">
			<div id="review_form">
					<div id="respond" class="comment-respond">
		<h3 id="reply-title" class="comment-reply-title">Be the first to review &ldquo;Spinach Soup&rdquo; <small><a rel="nofollow" id="cancel-comment-reply-link" href="/product/spinach-soup/#respond" style="display:none;">Cancel reply</a></small></h3>			<form action="http://cristianonew.ukrdevs.com/wp-comments-post.php" method="post" id="commentform" class="comment-form">
				<p class="comment-notes"><span id="email-notes">Your email address will not be published.</span> Required fields are marked <span class="required">*</span></p><div class="comment-form-rating"><label for="rating">Your rating</label><select name="rating" id="rating" aria-required="true" required>
							<option value="">Rate&hellip;</option>
							<option value="5">Perfect</option>
							<option value="4">Good</option>
							<option value="3">Average</option>
							<option value="2">Not that bad</option>
							<option value="1">Very poor</option>
						</select></div><p class="comment-form-comment"><label for="comment">Your review <span class="required">*</span></label><textarea id="comment" name="comment" cols="45" rows="8" aria-required="true" required></textarea></p><p class="comment-form-author"><label for="author">Name <span class="required">*</span></label> <input id="author" name="author" type="text" value="" size="30" aria-required="true" required /></p>
<p class="comment-form-email"><label for="email">Email <span class="required">*</span></label> <input id="email" name="email" type="email" value="" size="30" aria-required="true" required /></p>
<p class="form-submit"><input name="submit" type="submit" id="submit" class="submit" value="Submit" /> <input type='hidden' name='comment_post_ID' value='909' id='comment_post_ID' />
<input type='hidden' name='comment_parent' id='comment_parent' value='0' />
</p>			</form>
			</div><!-- #respond -->
				</div>
		</div>

	
	<div class="clear"></div>
</div>
 
				
								
	<section class="related products">
		<div class="section-title v1">
			<h3 class="font-heading">Related products</h3>
		</div>
		<div class="center">
<ul id="product-list" class="cols-3 margin-large">
			
				<li>
	<div class="post-22 product type-product status-publish has-post-thumbnail product_cat-salads product_cat-pizza product_cat-soups first instock featured shipping-taxable purchasable product-type-simple">
		<a class="image" href="http://cristianonew.ukrdevs.com/product/caeser/">
			<img width="420" height="280" src="http://cristianonew.ukrdevs.com/wp-content/uploads/2016/08/product-5-420x280.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="Greek Salad" />
	<span class="product-price font-title"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>30.00</span></span>
	
		</a>
		<div class="description">
			<h2 class="font-title">
				<a href="http://cristianonew.ukrdevs.com/product/caeser/">
					Caeser Salad				</a>
			</h2>
			<p>Lettuce, Eggs, Parmesan Cheese, Chicken Breast Fillets.</p>
		
				
			
				
				
			<a href="/product/spinach-soup/?add-to-cart=22" data-quantity="1" class="btn-cart button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="22" data-product_sku="" aria-label="Add &ldquo;Caeser Salad&rdquo; to your cart" rel="nofollow">Add to cart</a>		
		</div>
			</div>
</li>


			
				<li>
	<div class="post-28 product type-product status-publish has-post-thumbnail product_cat-pizza product_cat-soups product_cat-desserts  instock shipping-taxable purchasable product-type-variable has-default-attributes">
		<a class="image" href="http://cristianonew.ukrdevs.com/product/pizza-margherita/">
			<img width="420" height="280" src="http://cristianonew.ukrdevs.com/wp-content/uploads/2016/07/pizza-9-420x280.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" />
	<span class="product-price font-title"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>12.00</span> &ndash; <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>35.00</span></span>
	
		</a>
		<div class="description">
			<h2 class="font-title">
				<a href="http://cristianonew.ukrdevs.com/product/pizza-margherita/">
					Pizza Margherita				</a>
			</h2>
			<p>Mushrooms, Pepperoni,  Mozzarella, Tomato, Salami, Olive</p>
		
				
			
				
				
			<a href="http://cristianonew.ukrdevs.com/product/pizza-margherita/" data-quantity="1" class="btn-cart button product_type_variable add_to_cart_button" data-product_id="28" data-product_sku="" aria-label="Select options for &ldquo;Pizza Margherita&rdquo;" rel="nofollow">Select options</a>		
		</div>
			</div>
</li>


			
				<li>
	<div class="post-24 product type-product status-publish has-post-thumbnail product_cat-salads product_cat-pizza product_cat-soups  instock shipping-taxable purchasable product-type-simple">
		<a class="image" href="http://cristianonew.ukrdevs.com/product/greek/">
			<img width="420" height="280" src="http://cristianonew.ukrdevs.com/wp-content/uploads/2016/07/new-product-2-420x280.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" /><div class="star-rating"><span style="width:90%">Rated <strong class="rating">4.50</strong> out of 5</span></div>
	<span class="product-price font-title"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>25.00</span></span>
	
		</a>
		<div class="description">
			<h2 class="font-title">
				<a href="http://cristianonew.ukrdevs.com/product/greek/">
					Greek Salad				</a>
			</h2>
			<p>Tomatoes, Cucumber, Onion, Olives, Feta, Oregano, Romaine Lettuce.</p>
		
				
			
				
				
			<a href="/product/spinach-soup/?add-to-cart=24" data-quantity="1" class="btn-cart button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="24" data-product_sku="" aria-label="Add &ldquo;Greek Salad&rdquo; to your cart" rel="nofollow">Add to cart</a>		
		</div>
			</div>
</li>


			
		</ul>
</div>
	</section>

	
							</div>
					
		</div>
	</div>
</div
		
				</main>
					</div>
	</div>
</div>

	
	<footer id="footer" class="footer">
					<div class="like-table reset">
									<div id="cristiano_contact-3" class="widget widget_cristiano_contact"><h2 class="font-heading">Contact Us</h2><ul class="contact-info">
	<li>123 Main Street, Uni 21, New York City</li>
	<li><a href='tel:+38 (012) 34 56 789'>+38 (012) 34 56 789</a></li>	<li class="hours">Mon - Fri: 08:00 - 22:00</li><li class="hours">Sat - Sun: 10:00 - 23:00</li><li class="hours"></li><li class="hours"></li><li class="hours"></li><li class="hours"></li>	
	</ul></div><div id="cristiano_social-3" class="widget widget_cristiano_social"><h2 class="font-heading">Follow Us</h2><p>Join us on social networks</p><div class="social">
						<a class="fa fa-facebook" href="http://facebook.com/" target="blank"></a>
									<a class="fa fa-tripadvisor" href="https://www.tripadvisor.com/" target="blank"></a>
									<a class="fa fa-yelp" href="https://www.yelp.com/" target="blank"></a>
				</div></div>							</div>
				<div id="bottom-bar">
			<div class="center">
				<p>Copyright © 2017 Cristiano. All rights reserved.</p>
									
			</div>
		</div>	
	</footer>	
	<div class="overlay"></div>
<script type="application/ld+json">{"@context":"https:\/\/schema.org\/","@type":"Product","@id":"http:\/\/cristianonew.ukrdevs.com\/product\/spinach-soup\/","name":"Spinach Soup","image":"http:\/\/cristianonew.ukrdevs.com\/wp-content\/uploads\/2016\/08\/product-2.jpg","description":"<p>Onion, Spinach, Pepper Powder, Milk, Salt, Leek  <\/p>\n","sku":"","offers":[{"@type":"Offer","price":"23.00","priceSpecification":{"price":"23.00","priceCurrency":"USD","valueAddedTaxIncluded":"false"},"priceCurrency":"USD","availability":"https:\/\/schema.org\/InStock","url":"http:\/\/cristianonew.ukrdevs.com\/product\/spinach-soup\/","seller":{"@type":"Organization","name":"Cristiano","url":"http:\/\/cristianonew.ukrdevs.com"}}]}</script>
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="pswp__bg"></div>
	<div class="pswp__scroll-wrap">
		<div class="pswp__container">
			<div class="pswp__item"></div>
			<div class="pswp__item"></div>
			<div class="pswp__item"></div>
		</div>
		<div class="pswp__ui pswp__ui--hidden">
			<div class="pswp__top-bar">
				<div class="pswp__counter"></div>
				<button class="pswp__button pswp__button--close" aria-label="Close (Esc)"></button>
				<button class="pswp__button pswp__button--share" aria-label="Share"></button>
				<button class="pswp__button pswp__button--fs" aria-label="Toggle fullscreen"></button>
				<button class="pswp__button pswp__button--zoom" aria-label="Zoom in/out"></button>
				<div class="pswp__preloader">
					<div class="pswp__preloader__icn">
						<div class="pswp__preloader__cut">
							<div class="pswp__preloader__donut"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
				<div class="pswp__share-tooltip"></div>
			</div>
			<button class="pswp__button pswp__button--arrow--left" aria-label="Previous (arrow left)"></button>
			<button class="pswp__button pswp__button--arrow--right" aria-label="Next (arrow right)"></button>
			<div class="pswp__caption">
				<div class="pswp__caption__center"></div>
			</div>
		</div>
	</div>
</div>
	<script type="text/javascript">
		var c = document.body.className;
		c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
		document.body.className = c;
	</script>
	<script type='text/javascript' src='http://cristianonew.ukrdevs.com/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js?ver=2.70'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var wc_add_to_cart_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/?wc-ajax=%%endpoint%%","i18n_view_cart":"View cart","cart_url":"http:\/\/cristianonew.ukrdevs.com\/cart\/","is_cart":"","cart_redirect_after_add":"no"};
/* ]]> */
</script>
<script type='text/javascript' src='http://cristianonew.ukrdevs.com/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.min.js?ver=3.5.4'></script>
<script type='text/javascript' src='http://cristianonew.ukrdevs.com/wp-content/plugins/woocommerce/assets/js/flexslider/jquery.flexslider.min.js?ver=2.7.1'></script>
<script type='text/javascript' src='http://cristianonew.ukrdevs.com/wp-content/plugins/woocommerce/assets/js/photoswipe/photoswipe.min.js?ver=4.1.1'></script>
<script type='text/javascript' src='http://cristianonew.ukrdevs.com/wp-content/plugins/woocommerce/assets/js/photoswipe/photoswipe-ui-default.min.js?ver=4.1.1'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var wc_single_product_params = {"i18n_required_rating_text":"Please select a rating","review_rating_required":"yes","flexslider":{"rtl":false,"animation":"slide","smoothHeight":true,"directionNav":false,"controlNav":"thumbnails","slideshow":false,"animationSpeed":500,"animationLoop":false,"allowOneSlide":false},"zoom_enabled":"","zoom_options":[],"photoswipe_enabled":"1","photoswipe_options":{"shareEl":false,"closeOnScroll":false,"history":false,"hideAnimationDuration":0,"showAnimationDuration":0},"flexslider_enabled":"1"};
/* ]]> */
</script>
<script type='text/javascript' src='http://cristianonew.ukrdevs.com/wp-content/plugins/woocommerce/assets/js/frontend/single-product.min.js?ver=3.5.4'></script>
<script type='text/javascript' src='http://cristianonew.ukrdevs.com/wp-content/plugins/woocommerce/assets/js/js-cookie/js.cookie.min.js?ver=2.1.4'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var woocommerce_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/?wc-ajax=%%endpoint%%"};
/* ]]> */
</script>
<script type='text/javascript' src='http://cristianonew.ukrdevs.com/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min.js?ver=3.5.4'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var wc_cart_fragments_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/?wc-ajax=%%endpoint%%","cart_hash_key":"wc_cart_hash_3ddbab6e676df85dbaa75ee400f0652a","fragment_name":"wc_fragments_3ddbab6e676df85dbaa75ee400f0652a"};
/* ]]> */
</script>
<script type='text/javascript' src='http://cristianonew.ukrdevs.com/wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.min.js?ver=3.5.4'></script>
<script type='text/javascript' src='http://cristianonew.ukrdevs.com/wp-content/themes/cristiano/assets/js/dzsparallaxer.js'></script>
<script type='text/javascript' src='http://cristianonew.ukrdevs.com/wp-content/themes/cristiano/assets/js/okshadow.min.js'></script>
<script type='text/javascript' src='http://cristianonew.ukrdevs.com/wp-includes/js/jquery/ui/core.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='http://cristianonew.ukrdevs.com/wp-includes/js/jquery/ui/datepicker.min.js?ver=1.11.4'></script>
<script type='text/javascript'>
jQuery(document).ready(function(jQuery){jQuery.datepicker.setDefaults({"closeText":"Close","currentText":"Today","monthNames":["January","February","March","April","May","June","July","August","September","October","November","December"],"monthNamesShort":["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"],"nextText":"Next","prevText":"Previous","dayNames":["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"],"dayNamesShort":["Sun","Mon","Tue","Wed","Thu","Fri","Sat"],"dayNamesMin":["S","M","T","W","T","F","S"],"dateFormat":"MM d, yy","firstDay":1,"isRTL":false});});
</script>
<script type='text/javascript' src='http://cristianonew.ukrdevs.com/wp-includes/js/jquery/ui/widget.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='http://cristianonew.ukrdevs.com/wp-includes/js/jquery/ui/tabs.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='http://cristianonew.ukrdevs.com/wp-includes/js/comment-reply.min.js?ver=5.0.3'></script>
<script type='text/javascript' src='http://cristianonew.ukrdevs.com/wp-includes/js/wp-embed.min.js?ver=5.0.3'></script>
</body>
</html>