{% extends 'base.html.twig' %}
    {% block body %}
   <div id="page-header" class="dzsparallaxer auto-init height-is-based-on-content use-loading">
         <div class="divimage dzsparallaxer--target" style="background-image:url(wp-content/uploads/2018/05/header-bg.jpg)"></div>
         <div class="container">
            <div class="center">
               <div class="heading-title">
                  <h1 class="font-heading color-tr dynamic-shadow">Our News</h1>
               </div>
            </div>
         </div>
         <span class="shading gradient"></span>
      </div>
      <div id="layout" class="wide">
         <div id="container" class="color-content clearfix">
            <div class="center">
               <main id="content">
                  <article id="post-325" class="article cols-2 no-margin even post-325 post type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized">
                     <div class="image">
                        <a href="where-can-i-get-some.html">
                        <img width="675" height="439" src="wp-content/uploads/2018/04/news-1-675x439.jpg" class="attachment-medium size-medium wp-post-image" alt="" />		</a>
                     </div>
                     <div class="details color-content rwd-padding">
                        <time class="date font-heading" datetime="2018-04-03">April 3, 2018</time>	
                        <h2 class="font-title"><a href="where-can-i-get-some.html">Where can I get some?</a></h2>
                        <div class="content">
                           <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even slightly&#8230;</p>
                        </div>
                        <a class="btn-plate" href="where-can-i-get-some.html">Read More</a>
                     </div>
                  </article>
                  <article id="post-166" class="article cols-2 no-margin to-right post-166 post type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized tag-ipsum tag-lorem tag-text">
                     <div class="image">
                        <a href="where-does-it-come-from.html">
                        <img width="675" height="450" src="wp-content/uploads/2016/08/restaurant-675x450.jpg" class="attachment-medium size-medium wp-post-image" alt="" />		</a>
                     </div>
                     <div class="details color-content rwd-padding">
                        <time class="date font-heading" datetime="2018-03-06">March 6, 2018</time>	
                        <h2 class="font-title"><a href="where-does-it-come-from.html">Where does it come from?</a></h2>
                        <div class="content">
                           <p>Pellentesque nulla justo, auctor ac maximus sed, tempus sed nibh. Ut elit sapien, ornare et diam ac, efficitur luctus elit. Proin ut nulla consequat, elementum lacus eu, cursus ipsum. Fusce efficitur&#8230;</p>
                        </div>
                        <a class="btn-plate" href="where-does-it-come-from.html">Read More</a>
                     </div>
                  </article>
                  <article id="post-164" class="article cols-2 no-margin even post-164 post type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized tag-ipsum tag-lorem tag-text">
                     <div class="image">
                        <a href="what-is-lorem-ipsum.html">
                        <img width="675" height="450" src="wp-content/uploads/2016/08/bar-2-675x450.jpg" class="attachment-medium size-medium wp-post-image" alt="" />		</a>
                     </div>
                     <div class="details color-content rwd-padding">
                        <time class="date font-heading" datetime="2016-08-05">August 5, 2016</time>	
                        <h2 class="font-title"><a href="what-is-lorem-ipsum.html">What is Lorem Ipsum?</a></h2>
                        <div class="content">
                           <p>Pellentesque nulla justo, auctor ac maximus sed, tempus sed nibh. Ut elit sapien, ornare et diam ac, efficitur luctus elit. Proin ut nulla consequat, elementum lacus eu, cursus ipsum. Fusce efficitur&#8230;</p>
                        </div>
                        <a class="btn-plate" href="what-is-lorem-ipsum.html">Read More</a>
                     </div>
                  </article>
                  <article id="post-77" class="article cols-2 no-margin to-right post-77 post type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized">
                     <div class="image">
                        <a href="summer-begin.html">
                        <img width="675" height="450" src="wp-content/uploads/2016/08/bar-1-675x450.jpg" class="attachment-medium size-medium wp-post-image" alt="" />		</a>
                     </div>
                     <div class="details color-content rwd-padding">
                        <time class="date font-heading" datetime="2016-07-28">July 28, 2016</time>	
                        <h2 class="font-title"><a href="summer-begin.html">Summer Begin!</a></h2>
                        <div class="content">
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi&#8230;</p>
                        </div>
                        <a class="btn-plate" href="summer-begin.html">Read More</a>
                     </div>
                  </article>
                  <article id="post-367" class="article cols-2 no-margin even post-367 post type-post status-publish format-standard hentry category-uncategorized">
                     <div class="details color-content rwd-padding">
                        <time class="date font-heading" datetime="2016-07-16">July 16, 2016</time>	
                        <h2 class="font-title"><a href="hello-world-2.html">Hello world!</a></h2>
                        <div class="content">
                           <p>Welcome to WordPress. This is your first post. Edit or delete it, then start writing!</p>
                        </div>
                        <a class="btn-plate" href="hello-world-2.html">Read More</a>
                     </div>
                  </article>
               </main>
            </div>
         </div>
      </div>      
{% endblock %}