{% extends 'base.html.twig' %}
     
{% block body %}
	  <div id="page-header" class="dzsparallaxer auto-init height-is-based-on-content use-loading">
         <div class="divimage dzsparallaxer--target" style="background-image:url(wp-content/uploads/2018/05/header-bg.jpg)"></div>
         <div class="container">
            <div class="center">
               <div class="heading-title">
                  <h1 class="font-heading color-tr dynamic-shadow">Our Menu</h1>
               </div>
            </div>
         </div>
         <span class="shading gradient"></span>
      </div>
      <div id="layout" class="wide">
         <div id="container" class="color-content">
            <main id="content">
               <div class="post-368 page type-page status-publish hentry">
                  <section id="top-dishes" class="section-block">
                     <div class="center">
                        <div class="section-title v1">
                           <p class="subtitle color-pr-tx">Don't Miss</p>
                           <h3 class="font-heading"> Today's Offer</h3>
                        </div>
                        <div class="center">
                           <ul class="dishes-menu cols-2 large-imgs drop-style margin-large">
                              <li class="menu-item clearfix post-145 dishes_menu type-dishes_menu status-publish has-post-thumbnail hentry dishes_categories-desserts dishes_categories-pizza dishes_categories-salads dishes_categories-soups">
                                 <div class="thumbnail">
                                    <span class="zoom-img" style="transform: rotate(2deg)">
                                    <img width="370" height="247" src="wp-content/uploads/2016/08/product-8-370x247.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" />			</span>
                                    <img width="105" height="105" src="wp-content/uploads/2016/08/product-8-105x105.jpg" class="attachment-cristiano_small_image size-cristiano_small_image wp-post-image" alt="" />		
                                 </div>
                                 <div class="description">
                                    <span class="dm-price font-title color-content color-pr-tx"><span class="currency">$</span>12.50</span>			
                                    <h2 class="color-content"><span class="title font-title">Fish Parmentier</span></h2>
                                    <div class="dots">
                                       <p>Cod, haddock, prawn and salmon in a creamy white wine and leek sauce, topped with mash potato and Gruyère cheese</p>
                                    </div>
                                 </div>
                              </li>
                              <li class="menu-item clearfix post-76 dishes_menu type-dishes_menu status-publish has-post-thumbnail hentry dishes_categories-desserts dishes_categories-pizza dishes_categories-salads dishes_categories-soups">
                                 <div class="thumbnail">
                                    <span class="zoom-img" style="transform: rotate(-2deg)">
                                    <img width="370" height="247" src="wp-content/uploads/2016/08/product-1-370x247.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="Cherry Pie" />			</span>
                                    <img width="105" height="105" src="wp-content/uploads/2016/08/product-1-105x105.jpg" class="attachment-cristiano_small_image size-cristiano_small_image wp-post-image" alt="Cherry Pie" />		
                                 </div>
                                 <div class="description">
                                    <span class="dm-price font-title color-content color-pr-tx"><span class="currency">$</span>13.95</span>			
                                    <h2 class="color-content"><span class="title font-title">Escalope de Veau</span></h2>
                                    <div class="dots">
                                       <p>Sautéed breaded veal escalope with watercress, lemon and veal jus.</p>
                                    </div>
                                 </div>
                              </li>
                              <li class="menu-item clearfix post-74 dishes_menu type-dishes_menu status-publish has-post-thumbnail hentry dishes_categories-desserts dishes_categories-pizza dishes_categories-salads dishes_categories-soups">
                                 <div class="thumbnail">
                                    <span class="zoom-img" style="transform: rotate(1deg)">
                                    <img width="370" height="247" src="wp-content/uploads/2016/08/product-4-370x247.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="Apple Strudel" />			</span>
                                    <img width="105" height="105" src="wp-content/uploads/2016/08/product-4-105x105.jpg" class="attachment-cristiano_small_image size-cristiano_small_image wp-post-image" alt="Apple Strudel" />		
                                 </div>
                                 <div class="description">
                                    <span class="dm-price font-title color-content color-pr-tx"><span class="currency">$</span>14.50</span>			
                                    <h2 class="color-content"><span class="title font-title">Roast Duck Breast</span>			<span class="highlight-text color-pr-bg">Exquisite taste</span>
                                    </h2>
                                    <div class="dots">
                                       <p>Roasted duck breast (served pink) with gratin potato and a griottine cherry sauce</p>
                                    </div>
                                 </div>
                              </li>
                              <li class="menu-item clearfix post-73 dishes_menu type-dishes_menu status-publish has-post-thumbnail hentry dishes_categories-desserts dishes_categories-pizza dishes_categories-salads dishes_categories-soups">
                                 <div class="thumbnail">
                                    <span class="zoom-img" style="transform: rotate(-2deg)">
                                    <img width="370" height="247" src="wp-content/uploads/2017/01/bbq-370x247.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" />			</span>
                                    <img width="105" height="105" src="wp-content/uploads/2017/01/bbq-105x105.jpg" class="attachment-cristiano_small_image size-cristiano_small_image wp-post-image" alt="" />		
                                 </div>
                                 <div class="description">
                                    <span class="dm-price font-title color-content color-pr-tx"><span class="currency">$</span>13.50</span>			
                                    <h2 class="color-content"><span class="title font-title">Roasted Pork Belly</span></h2>
                                    <div class="dots">
                                       <p>Pan roasted pork belly with gratin potato, braised Savoy cabbage, apples, thyme and calvados jus</p>
                                    </div>
                                 </div>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </section>
                  <div class="dishes-menu-wrap">
                     <div id="catid-19" class="category-section has-items">
                        <div class="cat-menu-heading has-bg dzsparallaxer auto-init height-is-based-on-content use-loading">
                           <div class="divimage dzsparallaxer--target" style='background-image: url(wp-content/uploads/2018/05/category-desserts.jpeg)'></div>
                           <div class="table">
                              <div class="table-cell">
                                 <div class="info color-content">
                                    <div class="section-title v1">
                                       <h3 class="font-heading"> Desserts</h3>
                                    </div>
                                    <div class="description">
                                       <p>Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="center">
                           <ul class="dishes-menu margin-large large-imgs drop-style cols-2">
                              <li class="menu-item clearfix post-74 dishes_menu type-dishes_menu status-publish has-post-thumbnail hentry dishes_categories-desserts dishes_categories-pizza dishes_categories-salads dishes_categories-soups">
                                 <div class="thumbnail">
                                    <span class="zoom-img" style="transform: rotate(1deg)">
                                    <img width="370" height="247" src="wp-content/uploads/2016/08/product-4-370x247.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="Apple Strudel" />			</span>
                                    <img width="105" height="105" src="wp-content/uploads/2016/08/product-4-105x105.jpg" class="attachment-cristiano_small_image size-cristiano_small_image wp-post-image" alt="Apple Strudel" />		
                                 </div>
                                 <div class="description">
                                    <span class="dm-price font-title color-content color-pr-tx"><span class="currency">$</span>14.50</span>			
                                    <h2 class="color-content"><span class="title font-title">Roast Duck Breast</span>			<span class="highlight-text color-pr-bg">Exquisite taste</span>
                                    </h2>
                                    <div class="dots">
                                       <p>Roasted duck breast (served pink) with gratin potato and a griottine cherry sauce</p>
                                    </div>
                                 </div>
                              </li>
                              <li class="menu-item clearfix post-145 dishes_menu type-dishes_menu status-publish has-post-thumbnail hentry dishes_categories-desserts dishes_categories-pizza dishes_categories-salads dishes_categories-soups">
                                 <div class="thumbnail">
                                    <span class="zoom-img" style="transform: rotate(2deg)">
                                    <img width="370" height="247" src="wp-content/uploads/2016/08/product-8-370x247.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" />			</span>
                                    <img width="105" height="105" src="wp-content/uploads/2016/08/product-8-105x105.jpg" class="attachment-cristiano_small_image size-cristiano_small_image wp-post-image" alt="" />		
                                 </div>
                                 <div class="description">
                                    <span class="dm-price font-title color-content color-pr-tx"><span class="currency">$</span>12.50</span>			
                                    <h2 class="color-content"><span class="title font-title">Fish Parmentier</span></h2>
                                    <div class="dots">
                                       <p>Cod, haddock, prawn and salmon in a creamy white wine and leek sauce, topped with mash potato and Gruyère cheese</p>
                                    </div>
                                 </div>
                              </li>
                              <li class="menu-item clearfix post-76 dishes_menu type-dishes_menu status-publish has-post-thumbnail hentry dishes_categories-desserts dishes_categories-pizza dishes_categories-salads dishes_categories-soups">
                                 <div class="thumbnail">
                                    <span class="zoom-img" style="transform: rotate(2deg)">
                                    <img width="370" height="247" src="wp-content/uploads/2016/08/product-1-370x247.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="Cherry Pie" />			</span>
                                    <img width="105" height="105" src="wp-content/uploads/2016/08/product-1-105x105.jpg" class="attachment-cristiano_small_image size-cristiano_small_image wp-post-image" alt="Cherry Pie" />		
                                 </div>
                                 <div class="description">
                                    <span class="dm-price font-title color-content color-pr-tx"><span class="currency">$</span>13.95</span>			
                                    <h2 class="color-content"><span class="title font-title">Escalope de Veau</span></h2>
                                    <div class="dots">
                                       <p>Sautéed breaded veal escalope with watercress, lemon and veal jus.</p>
                                    </div>
                                 </div>
                              </li>
                              <li class="menu-item clearfix post-73 dishes_menu type-dishes_menu status-publish has-post-thumbnail hentry dishes_categories-desserts dishes_categories-pizza dishes_categories-salads dishes_categories-soups">
                                 <div class="thumbnail">
                                    <span class="zoom-img" style="transform: rotate(-2deg)">
                                    <img width="370" height="247" src="wp-content/uploads/2017/01/bbq-370x247.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" />			</span>
                                    <img width="105" height="105" src="wp-content/uploads/2017/01/bbq-105x105.jpg" class="attachment-cristiano_small_image size-cristiano_small_image wp-post-image" alt="" />		
                                 </div>
                                 <div class="description">
                                    <span class="dm-price font-title color-content color-pr-tx"><span class="currency">$</span>13.50</span>			
                                    <h2 class="color-content"><span class="title font-title">Roasted Pork Belly</span></h2>
                                    <div class="dots">
                                       <p>Pan roasted pork belly with gratin potato, braised Savoy cabbage, apples, thyme and calvados jus</p>
                                    </div>
                                 </div>
                              </li>
                              <li class="menu-item clearfix post-72 dishes_menu type-dishes_menu status-publish has-post-thumbnail hentry dishes_categories-desserts dishes_categories-pizza dishes_categories-salads dishes_categories-soups">
                                 <div class="thumbnail">
                                    <span class="zoom-img" style="transform: rotate(-1deg)">
                                    <img width="370" height="247" src="wp-content/uploads/2016/08/product-3-370x247.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="Pizza Margherita" />			</span>
                                    <img width="105" height="105" src="wp-content/uploads/2016/08/product-3-105x105.jpg" class="attachment-cristiano_small_image size-cristiano_small_image wp-post-image" alt="Pizza Margherita" />		
                                 </div>
                                 <div class="description">
                                    <span class="dm-price font-title color-content color-pr-tx"><span class="currency">$</span>13.95</span>			
                                    <h2 class="color-content"><span class="title font-title">Breton Fish Stew</span></h2>
                                    <div class="dots">
                                       <p>Pan roasted haddock fillet wrapped in smoked French bacon with pea purée and tomato and chive vinaigrette</p>
                                    </div>
                                 </div>
                              </li>
                              <li class="menu-item clearfix post-71 dishes_menu type-dishes_menu status-publish has-post-thumbnail hentry dishes_categories-desserts dishes_categories-pizza dishes_categories-salads dishes_categories-soups">
                                 <div class="thumbnail">
                                    <span class="zoom-img" style="transform: rotate(2deg)">
                                    <img width="370" height="247" src="wp-content/uploads/2016/08/product-2-370x247.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="Spinach Soup" />			</span>
                                    <img width="105" height="105" src="wp-content/uploads/2016/08/product-2-105x105.jpg" class="attachment-cristiano_small_image size-cristiano_small_image wp-post-image" alt="Spinach Soup" />		
                                 </div>
                                 <div class="description">
                                    <span class="dm-price font-title color-content color-pr-tx"><span class="currency">$</span>12.95</span>			
                                    <h2 class="color-content"><span class="title font-title">Haddock</span></h2>
                                    <div class="dots">
                                       <p>tuna, red onion, caper, mozzarella, tomato sauce</p>
                                    </div>
                                 </div>
                              </li>
                           </ul>
                        </div>
                     </div>
                     <div id="catid-22" class="category-section has-items">
                        <div class="cat-menu-heading has-bg dzsparallaxer auto-init height-is-based-on-content use-loading">
                           <div class="divimage dzsparallaxer--target" style='background-image: url(wp-content/uploads/2017/06/category-pizza.jpg)'></div>
                           <div class="table">
                              <div class="table-cell">
                                 <div class="info color-content">
                                    <div class="section-title v1">
                                       <h3 class="font-heading"> Pizza</h3>
                                    </div>
                                    <div class="description">
                                       <p>Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="center">
                           <ul class="dishes-menu margin-large large-imgs drop-style cols-2">
                              <li class="menu-item clearfix post-74 dishes_menu type-dishes_menu status-publish has-post-thumbnail hentry dishes_categories-desserts dishes_categories-pizza dishes_categories-salads dishes_categories-soups">
                                 <div class="thumbnail">
                                    <span class="zoom-img" style="transform: rotate(1deg)">
                                    <img width="370" height="247" src="wp-content/uploads/2016/08/product-4-370x247.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="Apple Strudel" />			</span>
                                    <img width="105" height="105" src="wp-content/uploads/2016/08/product-4-105x105.jpg" class="attachment-cristiano_small_image size-cristiano_small_image wp-post-image" alt="Apple Strudel" />		
                                 </div>
                                 <div class="description">
                                    <span class="dm-price font-title color-content color-pr-tx"><span class="currency">$</span>14.50</span>			
                                    <h2 class="color-content"><span class="title font-title">Roast Duck Breast</span>			<span class="highlight-text color-pr-bg">Exquisite taste</span>
                                    </h2>
                                    <div class="dots">
                                       <p>Roasted duck breast (served pink) with gratin potato and a griottine cherry sauce</p>
                                    </div>
                                 </div>
                              </li>
                              <li class="menu-item clearfix post-75 dishes_menu type-dishes_menu status-publish has-post-thumbnail hentry dishes_categories-pizza dishes_categories-salads">
                                 <div class="thumbnail">
                                    <span class="zoom-img" style="transform: rotate(-2deg)">
                                    <img width="370" height="247" src="wp-content/uploads/2016/08/product-2-370x247.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="Spinach Soup" />			</span>
                                    <img width="105" height="105" src="wp-content/uploads/2016/08/product-2-105x105.jpg" class="attachment-cristiano_small_image size-cristiano_small_image wp-post-image" alt="Spinach Soup" />		
                                 </div>
                                 <div class="description">
                                    <span class="dm-price font-title color-content color-pr-tx"><span class="currency">$</span>10.95</span>			
                                    <h2 class="color-content"><span class="title font-title">Chicken and Walnut Salad</span>			<span class="highlight-text color-pr-bg">Should to try</span>
                                    </h2>
                                    <div class="dots">
                                       <p>Chargrilled chicken with avocado, baby gem lettuce, baby spinach, shallots, French beans, walnuts, croutons and a mustard dressing</p>
                                    </div>
                                 </div>
                              </li>
                              <li class="menu-item clearfix post-151 dishes_menu type-dishes_menu status-publish has-post-thumbnail hentry dishes_categories-pizza dishes_categories-salads">
                                 <div class="thumbnail">
                                    <span class="zoom-img" style="transform: rotate(1deg)">
                                    <img width="370" height="247" src="wp-content/uploads/2016/08/product-3-370x247.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="Pizza Margherita" />			</span>
                                    <img width="105" height="105" src="wp-content/uploads/2016/08/product-3-105x105.jpg" class="attachment-cristiano_small_image size-cristiano_small_image wp-post-image" alt="Pizza Margherita" />		
                                 </div>
                                 <div class="description">
                                    <span class="dm-price font-title color-content color-pr-tx"><span class="currency">$</span>9.50</span>			
                                    <h2 class="color-content"><span class="title font-title">Tuna Niçoise</span></h2>
                                    <div class="dots">
                                       <p>Chargrilled fresh tuna steak (served medium rare) on classic Niçoise salad with French beans, cherry tomatoes, black olives, peppers, new potatoes, egg, baby gem lettuce and red onion</p>
                                    </div>
                                 </div>
                              </li>
                              <li class="menu-item clearfix post-145 dishes_menu type-dishes_menu status-publish has-post-thumbnail hentry dishes_categories-desserts dishes_categories-pizza dishes_categories-salads dishes_categories-soups">
                                 <div class="thumbnail">
                                    <span class="zoom-img" style="transform: rotate(2deg)">
                                    <img width="370" height="247" src="wp-content/uploads/2016/08/product-8-370x247.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" />			</span>
                                    <img width="105" height="105" src="wp-content/uploads/2016/08/product-8-105x105.jpg" class="attachment-cristiano_small_image size-cristiano_small_image wp-post-image" alt="" />		
                                 </div>
                                 <div class="description">
                                    <span class="dm-price font-title color-content color-pr-tx"><span class="currency">$</span>12.50</span>			
                                    <h2 class="color-content"><span class="title font-title">Fish Parmentier</span></h2>
                                    <div class="dots">
                                       <p>Cod, haddock, prawn and salmon in a creamy white wine and leek sauce, topped with mash potato and Gruyère cheese</p>
                                    </div>
                                 </div>
                              </li>
                              <li class="menu-item clearfix post-76 dishes_menu type-dishes_menu status-publish has-post-thumbnail hentry dishes_categories-desserts dishes_categories-pizza dishes_categories-salads dishes_categories-soups">
                                 <div class="thumbnail">
                                    <span class="zoom-img" style="transform: rotate(1deg)">
                                    <img width="370" height="247" src="wp-content/uploads/2016/08/product-1-370x247.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="Cherry Pie" />			</span>
                                    <img width="105" height="105" src="wp-content/uploads/2016/08/product-1-105x105.jpg" class="attachment-cristiano_small_image size-cristiano_small_image wp-post-image" alt="Cherry Pie" />		
                                 </div>
                                 <div class="description">
                                    <span class="dm-price font-title color-content color-pr-tx"><span class="currency">$</span>13.95</span>			
                                    <h2 class="color-content"><span class="title font-title">Escalope de Veau</span></h2>
                                    <div class="dots">
                                       <p>Sautéed breaded veal escalope with watercress, lemon and veal jus.</p>
                                    </div>
                                 </div>
                              </li>
                              <li class="menu-item clearfix post-73 dishes_menu type-dishes_menu status-publish has-post-thumbnail hentry dishes_categories-desserts dishes_categories-pizza dishes_categories-salads dishes_categories-soups">
                                 <div class="thumbnail">
                                    <span class="zoom-img" style="transform: rotate(2deg)">
                                    <img width="370" height="247" src="wp-content/uploads/2017/01/bbq-370x247.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" />			</span>
                                    <img width="105" height="105" src="wp-content/uploads/2017/01/bbq-105x105.jpg" class="attachment-cristiano_small_image size-cristiano_small_image wp-post-image" alt="" />		
                                 </div>
                                 <div class="description">
                                    <span class="dm-price font-title color-content color-pr-tx"><span class="currency">$</span>13.50</span>			
                                    <h2 class="color-content"><span class="title font-title">Roasted Pork Belly</span></h2>
                                    <div class="dots">
                                       <p>Pan roasted pork belly with gratin potato, braised Savoy cabbage, apples, thyme and calvados jus</p>
                                    </div>
                                 </div>
                              </li>
                              <li class="menu-item clearfix post-72 dishes_menu type-dishes_menu status-publish has-post-thumbnail hentry dishes_categories-desserts dishes_categories-pizza dishes_categories-salads dishes_categories-soups">
                                 <div class="thumbnail">
                                    <span class="zoom-img" style="transform: rotate(2deg)">
                                    <img width="370" height="247" src="wp-content/uploads/2016/08/product-3-370x247.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="Pizza Margherita" />			</span>
                                    <img width="105" height="105" src="wp-content/uploads/2016/08/product-3-105x105.jpg" class="attachment-cristiano_small_image size-cristiano_small_image wp-post-image" alt="Pizza Margherita" />		
                                 </div>
                                 <div class="description">
                                    <span class="dm-price font-title color-content color-pr-tx"><span class="currency">$</span>13.95</span>			
                                    <h2 class="color-content"><span class="title font-title">Breton Fish Stew</span></h2>
                                    <div class="dots">
                                       <p>Pan roasted haddock fillet wrapped in smoked French bacon with pea purée and tomato and chive vinaigrette</p>
                                    </div>
                                 </div>
                              </li>
                              <li class="menu-item clearfix post-71 dishes_menu type-dishes_menu status-publish has-post-thumbnail hentry dishes_categories-desserts dishes_categories-pizza dishes_categories-salads dishes_categories-soups">
                                 <div class="thumbnail">
                                    <span class="zoom-img" style="transform: rotate(-1deg)">
                                    <img width="370" height="247" src="wp-content/uploads/2016/08/product-2-370x247.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="Spinach Soup" />			</span>
                                    <img width="105" height="105" src="wp-content/uploads/2016/08/product-2-105x105.jpg" class="attachment-cristiano_small_image size-cristiano_small_image wp-post-image" alt="Spinach Soup" />		
                                 </div>
                                 <div class="description">
                                    <span class="dm-price font-title color-content color-pr-tx"><span class="currency">$</span>12.95</span>			
                                    <h2 class="color-content"><span class="title font-title">Haddock</span></h2>
                                    <div class="dots">
                                       <p>tuna, red onion, caper, mozzarella, tomato sauce</p>
                                    </div>
                                 </div>
                              </li>
                              <li class="menu-item clearfix post-68 dishes_menu type-dishes_menu status-publish has-post-thumbnail hentry dishes_categories-pizza">
                                 <div class="thumbnail">
                                    <span class="zoom-img" style="transform: rotate(2deg)">
                                    <img width="370" height="247" src="wp-content/uploads/2016/08/product-4-370x247.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="Apple Strudel" />			</span>
                                    <img width="105" height="105" src="wp-content/uploads/2016/08/product-4-105x105.jpg" class="attachment-cristiano_small_image size-cristiano_small_image wp-post-image" alt="Apple Strudel" />		
                                 </div>
                                 <div class="description">
                                    <span class="dm-price font-title color-content color-pr-tx"><span class="currency">$</span>7.50/<span class="currency">$</span>12.00</span>			
                                    <h2 class="color-content"><span class="title font-title">Goats Cheese Salad</span></h2>
                                    <div class="dots">
                                       <ul class="multiple-prices">
                                          <li>
                                             <span class="label">Small</span>
                                             -
                                             <span class="price color-pr-tx"><span class="currency">$</span>7.50</span>
                                          </li>
                                          <li>
                                             <span class="label">Medium</span>
                                             -
                                             <span class="price color-pr-tx"><span class="currency">$</span>11.50</span>
                                          </li>
                                          <li>
                                             <span class="label">Large</span>
                                             -
                                             <span class="price color-pr-tx"><span class="currency">$</span>12.00</span>
                                          </li>
                                       </ul>
                                       <p>Warm goats cheese and roasted vegetable salad with black olive tapenade crostini</p>
                                    </div>
                                 </div>
                              </li>
                           </ul>
                        </div>
                     </div>
                     <div id="catid-23" class="category-section has-items">
                        <div class="cat-menu-heading has-bg dzsparallaxer auto-init height-is-based-on-content use-loading">
                           <div class="divimage dzsparallaxer--target" style='background-image: url(wp-content/uploads/2017/01/categorty-salads.jpg)'></div>
                           <div class="table">
                              <div class="table-cell">
                                 <div class="info color-content">
                                    <div class="section-title v1">
                                       <h3 class="font-heading"> Salads</h3>
                                    </div>
                                    <div class="description">
                                       <p>Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="center">
                           <ul class="dishes-menu margin-large large-imgs drop-style cols-2">
                              <li class="menu-item clearfix post-74 dishes_menu type-dishes_menu status-publish has-post-thumbnail hentry dishes_categories-desserts dishes_categories-pizza dishes_categories-salads dishes_categories-soups">
                                 <div class="thumbnail">
                                    <span class="zoom-img" style="transform: rotate(1deg)">
                                    <img width="370" height="247" src="wp-content/uploads/2016/08/product-4-370x247.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="Apple Strudel" />			</span>
                                    <img width="105" height="105" src="wp-content/uploads/2016/08/product-4-105x105.jpg" class="attachment-cristiano_small_image size-cristiano_small_image wp-post-image" alt="Apple Strudel" />		
                                 </div>
                                 <div class="description">
                                    <span class="dm-price font-title color-content color-pr-tx"><span class="currency">$</span>14.50</span>			
                                    <h2 class="color-content"><span class="title font-title">Roast Duck Breast</span>			<span class="highlight-text color-pr-bg">Exquisite taste</span>
                                    </h2>
                                    <div class="dots">
                                       <p>Roasted duck breast (served pink) with gratin potato and a griottine cherry sauce</p>
                                    </div>
                                 </div>
                              </li>
                              <li class="menu-item clearfix post-75 dishes_menu type-dishes_menu status-publish has-post-thumbnail hentry dishes_categories-pizza dishes_categories-salads">
                                 <div class="thumbnail">
                                    <span class="zoom-img" style="transform: rotate(2deg)">
                                    <img width="370" height="247" src="wp-content/uploads/2016/08/product-2-370x247.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="Spinach Soup" />			</span>
                                    <img width="105" height="105" src="wp-content/uploads/2016/08/product-2-105x105.jpg" class="attachment-cristiano_small_image size-cristiano_small_image wp-post-image" alt="Spinach Soup" />		
                                 </div>
                                 <div class="description">
                                    <span class="dm-price font-title color-content color-pr-tx"><span class="currency">$</span>10.95</span>			
                                    <h2 class="color-content"><span class="title font-title">Chicken and Walnut Salad</span>			<span class="highlight-text color-pr-bg">Should to try</span>
                                    </h2>
                                    <div class="dots">
                                       <p>Chargrilled chicken with avocado, baby gem lettuce, baby spinach, shallots, French beans, walnuts, croutons and a mustard dressing</p>
                                    </div>
                                 </div>
                              </li>
                              <li class="menu-item clearfix post-151 dishes_menu type-dishes_menu status-publish has-post-thumbnail hentry dishes_categories-pizza dishes_categories-salads">
                                 <div class="thumbnail">
                                    <span class="zoom-img" style="transform: rotate(-1deg)">
                                    <img width="370" height="247" src="wp-content/uploads/2016/08/product-3-370x247.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="Pizza Margherita" />			</span>
                                    <img width="105" height="105" src="wp-content/uploads/2016/08/product-3-105x105.jpg" class="attachment-cristiano_small_image size-cristiano_small_image wp-post-image" alt="Pizza Margherita" />		
                                 </div>
                                 <div class="description">
                                    <span class="dm-price font-title color-content color-pr-tx"><span class="currency">$</span>9.50</span>			
                                    <h2 class="color-content"><span class="title font-title">Tuna Niçoise</span></h2>
                                    <div class="dots">
                                       <p>Chargrilled fresh tuna steak (served medium rare) on classic Niçoise salad with French beans, cherry tomatoes, black olives, peppers, new potatoes, egg, baby gem lettuce and red onion</p>
                                    </div>
                                 </div>
                              </li>
                              <li class="menu-item clearfix post-145 dishes_menu type-dishes_menu status-publish has-post-thumbnail hentry dishes_categories-desserts dishes_categories-pizza dishes_categories-salads dishes_categories-soups">
                                 <div class="thumbnail">
                                    <span class="zoom-img" style="transform: rotate(2deg)">
                                    <img width="370" height="247" src="wp-content/uploads/2016/08/product-8-370x247.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" />			</span>
                                    <img width="105" height="105" src="wp-content/uploads/2016/08/product-8-105x105.jpg" class="attachment-cristiano_small_image size-cristiano_small_image wp-post-image" alt="" />		
                                 </div>
                                 <div class="description">
                                    <span class="dm-price font-title color-content color-pr-tx"><span class="currency">$</span>12.50</span>			
                                    <h2 class="color-content"><span class="title font-title">Fish Parmentier</span></h2>
                                    <div class="dots">
                                       <p>Cod, haddock, prawn and salmon in a creamy white wine and leek sauce, topped with mash potato and Gruyère cheese</p>
                                    </div>
                                 </div>
                              </li>
                              <li class="menu-item clearfix post-76 dishes_menu type-dishes_menu status-publish has-post-thumbnail hentry dishes_categories-desserts dishes_categories-pizza dishes_categories-salads dishes_categories-soups">
                                 <div class="thumbnail">
                                    <span class="zoom-img" style="transform: rotate(2deg)">
                                    <img width="370" height="247" src="wp-content/uploads/2016/08/product-1-370x247.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="Cherry Pie" />			</span>
                                    <img width="105" height="105" src="wp-content/uploads/2016/08/product-1-105x105.jpg" class="attachment-cristiano_small_image size-cristiano_small_image wp-post-image" alt="Cherry Pie" />		
                                 </div>
                                 <div class="description">
                                    <span class="dm-price font-title color-content color-pr-tx"><span class="currency">$</span>13.95</span>			
                                    <h2 class="color-content"><span class="title font-title">Escalope de Veau</span></h2>
                                    <div class="dots">
                                       <p>Sautéed breaded veal escalope with watercress, lemon and veal jus.</p>
                                    </div>
                                 </div>
                              </li>
                              <li class="menu-item clearfix post-73 dishes_menu type-dishes_menu status-publish has-post-thumbnail hentry dishes_categories-desserts dishes_categories-pizza dishes_categories-salads dishes_categories-soups">
                                 <div class="thumbnail">
                                    <span class="zoom-img" style="transform: rotate(-1deg)">
                                    <img width="370" height="247" src="wp-content/uploads/2017/01/bbq-370x247.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" />			</span>
                                    <img width="105" height="105" src="wp-content/uploads/2017/01/bbq-105x105.jpg" class="attachment-cristiano_small_image size-cristiano_small_image wp-post-image" alt="" />		
                                 </div>
                                 <div class="description">
                                    <span class="dm-price font-title color-content color-pr-tx"><span class="currency">$</span>13.50</span>			
                                    <h2 class="color-content"><span class="title font-title">Roasted Pork Belly</span></h2>
                                    <div class="dots">
                                       <p>Pan roasted pork belly with gratin potato, braised Savoy cabbage, apples, thyme and calvados jus</p>
                                    </div>
                                 </div>
                              </li>
                              <li class="menu-item clearfix post-72 dishes_menu type-dishes_menu status-publish has-post-thumbnail hentry dishes_categories-desserts dishes_categories-pizza dishes_categories-salads dishes_categories-soups">
                                 <div class="thumbnail">
                                    <span class="zoom-img" style="transform: rotate(2deg)">
                                    <img width="370" height="247" src="wp-content/uploads/2016/08/product-3-370x247.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="Pizza Margherita" />			</span>
                                    <img width="105" height="105" src="wp-content/uploads/2016/08/product-3-105x105.jpg" class="attachment-cristiano_small_image size-cristiano_small_image wp-post-image" alt="Pizza Margherita" />		
                                 </div>
                                 <div class="description">
                                    <span class="dm-price font-title color-content color-pr-tx"><span class="currency">$</span>13.95</span>			
                                    <h2 class="color-content"><span class="title font-title">Breton Fish Stew</span></h2>
                                    <div class="dots">
                                       <p>Pan roasted haddock fillet wrapped in smoked French bacon with pea purée and tomato and chive vinaigrette</p>
                                    </div>
                                 </div>
                              </li>
                              <li class="menu-item clearfix post-71 dishes_menu type-dishes_menu status-publish has-post-thumbnail hentry dishes_categories-desserts dishes_categories-pizza dishes_categories-salads dishes_categories-soups">
                                 <div class="thumbnail">
                                    <span class="zoom-img" style="transform: rotate(1deg)">
                                    <img width="370" height="247" src="wp-content/uploads/2016/08/product-2-370x247.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="Spinach Soup" />			</span>
                                    <img width="105" height="105" src="wp-content/uploads/2016/08/product-2-105x105.jpg" class="attachment-cristiano_small_image size-cristiano_small_image wp-post-image" alt="Spinach Soup" />		
                                 </div>
                                 <div class="description">
                                    <span class="dm-price font-title color-content color-pr-tx"><span class="currency">$</span>12.95</span>			
                                    <h2 class="color-content"><span class="title font-title">Haddock</span></h2>
                                    <div class="dots">
                                       <p>tuna, red onion, caper, mozzarella, tomato sauce</p>
                                    </div>
                                 </div>
                              </li>
                           </ul>
                        </div>
                     </div>
                     <div id="catid-25" class="category-section has-items">
                        <div class="cat-menu-heading has-bg dzsparallaxer auto-init height-is-based-on-content use-loading">
                           <div class="divimage dzsparallaxer--target" style='background-image: url(wp-content/uploads/2018/05/category-soups.jpg)'></div>
                           <div class="table">
                              <div class="table-cell">
                                 <div class="info color-content">
                                    <div class="section-title v1">
                                       <h3 class="font-heading"> Soups</h3>
                                    </div>
                                    <div class="description">
                                       <p>Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="center">
                           <ul class="dishes-menu margin-large large-imgs drop-style cols-2">
                              <li class="menu-item clearfix post-74 dishes_menu type-dishes_menu status-publish has-post-thumbnail hentry dishes_categories-desserts dishes_categories-pizza dishes_categories-salads dishes_categories-soups">
                                 <div class="thumbnail">
                                    <span class="zoom-img" style="transform: rotate(-2deg)">
                                    <img width="370" height="247" src="wp-content/uploads/2016/08/product-4-370x247.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="Apple Strudel" />			</span>
                                    <img width="105" height="105" src="wp-content/uploads/2016/08/product-4-105x105.jpg" class="attachment-cristiano_small_image size-cristiano_small_image wp-post-image" alt="Apple Strudel" />		
                                 </div>
                                 <div class="description">
                                    <span class="dm-price font-title color-content color-pr-tx"><span class="currency">$</span>14.50</span>			
                                    <h2 class="color-content"><span class="title font-title">Roast Duck Breast</span>			<span class="highlight-text color-pr-bg">Exquisite taste</span>
                                    </h2>
                                    <div class="dots">
                                       <p>Roasted duck breast (served pink) with gratin potato and a griottine cherry sauce</p>
                                    </div>
                                 </div>
                              </li>
                              <li class="menu-item clearfix post-145 dishes_menu type-dishes_menu status-publish has-post-thumbnail hentry dishes_categories-desserts dishes_categories-pizza dishes_categories-salads dishes_categories-soups">
                                 <div class="thumbnail">
                                    <span class="zoom-img" style="transform: rotate(-1deg)">
                                    <img width="370" height="247" src="wp-content/uploads/2016/08/product-8-370x247.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" />			</span>
                                    <img width="105" height="105" src="wp-content/uploads/2016/08/product-8-105x105.jpg" class="attachment-cristiano_small_image size-cristiano_small_image wp-post-image" alt="" />		
                                 </div>
                                 <div class="description">
                                    <span class="dm-price font-title color-content color-pr-tx"><span class="currency">$</span>12.50</span>			
                                    <h2 class="color-content"><span class="title font-title">Fish Parmentier</span></h2>
                                    <div class="dots">
                                       <p>Cod, haddock, prawn and salmon in a creamy white wine and leek sauce, topped with mash potato and Gruyère cheese</p>
                                    </div>
                                 </div>
                              </li>
                              <li class="menu-item clearfix post-76 dishes_menu type-dishes_menu status-publish has-post-thumbnail hentry dishes_categories-desserts dishes_categories-pizza dishes_categories-salads dishes_categories-soups">
                                 <div class="thumbnail">
                                    <span class="zoom-img" style="transform: rotate(-1deg)">
                                    <img width="370" height="247" src="wp-content/uploads/2016/08/product-1-370x247.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="Cherry Pie" />			</span>
                                    <img width="105" height="105" src="wp-content/uploads/2016/08/product-1-105x105.jpg" class="attachment-cristiano_small_image size-cristiano_small_image wp-post-image" alt="Cherry Pie" />		
                                 </div>
                                 <div class="description">
                                    <span class="dm-price font-title color-content color-pr-tx"><span class="currency">$</span>13.95</span>			
                                    <h2 class="color-content"><span class="title font-title">Escalope de Veau</span></h2>
                                    <div class="dots">
                                       <p>Sautéed breaded veal escalope with watercress, lemon and veal jus.</p>
                                    </div>
                                 </div>
                              </li>
                              <li class="menu-item clearfix post-73 dishes_menu type-dishes_menu status-publish has-post-thumbnail hentry dishes_categories-desserts dishes_categories-pizza dishes_categories-salads dishes_categories-soups">
                                 <div class="thumbnail">
                                    <span class="zoom-img" style="transform: rotate(-1deg)">
                                    <img width="370" height="247" src="wp-content/uploads/2017/01/bbq-370x247.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" />			</span>
                                    <img width="105" height="105" src="wp-content/uploads/2017/01/bbq-105x105.jpg" class="attachment-cristiano_small_image size-cristiano_small_image wp-post-image" alt="" />		
                                 </div>
                                 <div class="description">
                                    <span class="dm-price font-title color-content color-pr-tx"><span class="currency">$</span>13.50</span>			
                                    <h2 class="color-content"><span class="title font-title">Roasted Pork Belly</span></h2>
                                    <div class="dots">
                                       <p>Pan roasted pork belly with gratin potato, braised Savoy cabbage, apples, thyme and calvados jus</p>
                                    </div>
                                 </div>
                              </li>
                              <li class="menu-item clearfix post-72 dishes_menu type-dishes_menu status-publish has-post-thumbnail hentry dishes_categories-desserts dishes_categories-pizza dishes_categories-salads dishes_categories-soups">
                                 <div class="thumbnail">
                                    <span class="zoom-img" style="transform: rotate(-1deg)">
                                    <img width="370" height="247" src="wp-content/uploads/2016/08/product-3-370x247.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="Pizza Margherita" />			</span>
                                    <img width="105" height="105" src="wp-content/uploads/2016/08/product-3-105x105.jpg" class="attachment-cristiano_small_image size-cristiano_small_image wp-post-image" alt="Pizza Margherita" />		
                                 </div>
                                 <div class="description">
                                    <span class="dm-price font-title color-content color-pr-tx"><span class="currency">$</span>13.95</span>			
                                    <h2 class="color-content"><span class="title font-title">Breton Fish Stew</span></h2>
                                    <div class="dots">
                                       <p>Pan roasted haddock fillet wrapped in smoked French bacon with pea purée and tomato and chive vinaigrette</p>
                                    </div>
                                 </div>
                              </li>
                              <li class="menu-item clearfix post-71 dishes_menu type-dishes_menu status-publish has-post-thumbnail hentry dishes_categories-desserts dishes_categories-pizza dishes_categories-salads dishes_categories-soups">
                                 <div class="thumbnail">
                                    <span class="zoom-img" style="transform: rotate(-2deg)">
                                    <img width="370" height="247" src="wp-content/uploads/2016/08/product-2-370x247.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="Spinach Soup" />			</span>
                                    <img width="105" height="105" src="wp-content/uploads/2016/08/product-2-105x105.jpg" class="attachment-cristiano_small_image size-cristiano_small_image wp-post-image" alt="Spinach Soup" />		
                                 </div>
                                 <div class="description">
                                    <span class="dm-price font-title color-content color-pr-tx"><span class="currency">$</span>12.95</span>			
                                    <h2 class="color-content"><span class="title font-title">Haddock</span></h2>
                                    <div class="dots">
                                       <p>tuna, red onion, caper, mozzarella, tomato sauce</p>
                                    </div>
                                 </div>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </main>
         </div>
      </div>
{% endblock %}