<div class="overlay"></div>
      <footer id="footer" class="footer">
         <div class="like-table reset">
            <div id="cristiano_contact-3" class="widget widget_cristiano_contact">
               <h2 class="font-heading">Contactez Nous</h2>
               <ul class="contact-info">
                  <li>{#{ restaurant.city }#} {#{ restaurant.street }#}</li>
                  <li><a href='tel:+225 {#{ restaurant.restaurantPhone }#}'>+225 {#{ restaurant.restaurantPhone }#}</a></li>
                  <li class="hours">Lun - Dim: 08:00 - 23:00</li>
                  <li class="hours"></li>
                  <li class="hours"></li>
                  <li class="hours"></li>
                  <li class="hours"></li>
               </ul>
            </div>
            <div id="cristiano_social-3" class="widget widget_cristiano_social">
               <h2 class="font-heading">Nous Suivre</h2>
               <p>Suivez nous sur les réseaux sociaux</p>
               <div class="social">
                  <a class="fa fa-facebook" href="http://facebook.com/" target="blank"></a>
                  <a class="fa fa-tripadvisor" href="https://www.tripadvisor.com/" target="blank"></a>
                  <a class="fa fa-yelp" href="https://www.yelp.com/" target="blank"></a>
               </div>
            </div>
         </div>
         <div id="bottom-bar">
            <div class="center">
               <p>LeCuistot © 2018. Tous droits resrvés.</p>
            </div>
         </div>
</footer>